{% extends 'MainPage.html' %}
{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .dropdown-submenu {
            position: relative;
        }
        
        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
    <div style="width:35%;text-align:center;background-color: #7d6969;margin:auto;padding:20px;">
        <div class="dropdown" style="width:min-content;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Categories<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for i in categories %}
                    {% for p in i %}
                        {% if not p.children %}
                            <li><a tabindex="-1" href="{% url 'products:category' p.name.pk %}">{{ p.name.name }}</a></li>
                        {% else %}
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">{{ p.name.name }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for l in p.children %}
                                        {% if not l.children %}
                                            <li><a tabindex="-1" href="{% url 'products:category' l.name.pk %}">{{ l.name.name }}</a></li>
                                        {% else %}
                                            <li class="dropdown-submenu">
                                                <a class="test" tabindex="-1" href="#">{{ l.name.name }} <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    {% for m in l.children %}
                                                        {% if not m.children %}
                                                            <li><a tabindex="-1" href="{% url 'products:category' m.name.pk %}">{{ m.name.name }}</a></li>
                                                        {% else %}
                                                            <li class="dropdown-submenu">
                                                                <a class="test" tabindex="-1" href="#">{{ m.name.name }} <span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    {% for n in m.children %}
                                                                        {% if not n.children %}
                                                                            <li><a tabindex="-1" href="{% url 'products:category' n.name.pk %}">{{ n.name.name }}</a></li>
                                                                        {% else %}
                                                                            <li class="dropdown-submenu">
                                                                                <a class="test" tabindex="-1" href="#">{{ n.name.name }} <span class="caret"></span></a>
                                                                                <ul class="dropdown-menu">
                                                                                    {% for o in n.children %}
                                                                                        <li><a tabindex="-1" href="{% url 'products:category' o.name.pk %}">{{ o.name.name }}</a></li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div style="background-color: #7d6969;text-align: center;width:50%;margin: auto;">
        <br>
        <h1>{{ product.name }}</h1>
        <img src="{{ product.picture }}" width="500px">
        <br>
        <br>
        <a><span style="font-weight:bold;font-size: 25px;">{{ product.price }}</span><span style="font-size:12px;"> COM</span></a>
        <br>
        <br>
        <a href="{% url 'products:category' product.category.pk %}">{{ product.category.name }}</a>
        <br>
        <br>
        <form action="{% url 'products:cart_add' product.pk %}" method="POST">
            <select name="quantity" required>
                <option value="">Select QTY</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button>Add To Cart</button>
            {% csrf_token %}
        </form>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <script>
        $(document).ready(function(){
          $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
    </script>
{% endblock %}